.container{
    width:100vw;
    height:100vh;
    background-color:black;
    background-image:url("https://i.ibb.co/9ccbJ1s/biker-dark-motorcycle-1920x1080-1480.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;



    .wrapper{
        width:40%;
        padding:20px;
        background-color:white;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        background: transparent;
        h2{
            font-size:24px;
            font-weight:300;
            color: white;
        }

        form{
            display:flex;
            flex-wrap:wrap;

            input{
                flex:1;
                min-width:40%;
                margin:20px 10px 0px 0px;
                padding:10px;
            }

            p{
                font-size: 12px;
                margin: 20px 0px;
                color: rgb(190, 190, 190);
                cursor: pointer;
            }

            button{
                width: 100%;
                height: 45px;
                background: #393939;
                border: none;
                outline: none;
                border-radius: 6px;
                cursor: pointer;
                font-size: 1em;
                color: #fff;
            }

        }



    }




}



